/**
 * for cas main css
 * author me@xiexianbin.cn
 */


/* for login page */

.block {
	display: block;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.cas-header-container {
	height: 75px;
}

.cas-logo span {
	height: 60px;
	line-height: 60px;
	color: #999;
	font-size: 20px;
	display: block;
}

header .list-inline>li,
footer .list-inline>li {
	padding-left: 8px;
}

.cas-logo,
.cas-header-link {
	margin: 12px 10px 2px 0px;
}

.cas-logo-img {
	height: 60px;
}

.cas-header-link {
	margin-top: 35px;
}

.cas-hr-top {
	border-top: 1px solid #e3e3e3;
	padding-top: 10px;
}

.cas-li-split {
	border-left: 1px solid #9c9c9c;
	height: 14px;
	line-height: 14px;
}

.cas-hr-bottom {
	border-bottom: 1px solid #e3e3e3;
	padding-bottom: 5px;
}

.cas-container {
	margin: 42px 0;
}

.cas-box {
	border: 1px solid #dedede;
	padding: 20px 20px 5px 20px;
}

.cas-box .form-group {
	margin: 10px 0;
}

.cas-box .form-control {
	border-radius: 0;
	box-shadow: none;
	border-color: #d2d6de;
	padding-left: 30px;
}

.cas-box .col-xs-3,
.cas-box .col-xs-4,
.cas-box .col-xs-5,
.cas-box .col-xs-7,
.cas-box .col-sm-3,
.cas-box .col-sm-4,
.cas-box .col-sm-5,
.cas-box .col-sm-7,
.cas-box .col-md-3,
.cas-box .col-md-4,
.cas-box .col-md-5,
.cas-box .col-md-7,
.cas-box .col-lg-3,
.cas-box .col-lg-4,
.cas-box .col-lg-5 {
	padding: 0 0;
}

.cas-box .cas-label {
	font-weight: 400;
}

.cas-box .cas-fonts{
    position: absolute;
    z-index: 3;
    float: left;
    display: block;
    margin: 4px 4px;
    width: 32px;
    height: 32px;
}

.cas-box .username-label {
    background: url(../img/v2/login/username.png) no-repeat;
}

.cas-box .password-label{
	background: url(../img/v2/login/password.png) no-repeat;
}

.cas-box .validate-label{
	background: url(../img/v2/login/key.png) no-repeat;
}

.cas-login-btn {
	margin: 12px 0 8px 0;
	border-radius: 0;
}

.login-container{
	padding-top: 15px;
}

.login-icon {
	background: url("../img/v2/bindaccount/all-account.png");
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.qq-icon {
	background-position: 0 0;
}

.qq-icon-mouseon {
	background-position: 0 -24px;
}

.sina-icon {
	background-position: -25px -0px;
}

.sina-icon-mouseon {
	background-position: -25px -24px;
}

.ren-icon {
	background-position: -50px -0px;
}

.ren-icon-mouseon {
	background-position: -50px -24px;
}

.tqq-icon {
	background-position: -75px -0px;
}

.tqq-icon-mouseon {
	background-position: -75px -24px;
}

.wechat-icon {
	background-position: -175px -0px;
}

.wechat-icon-mouseon {
	background-position: -175px -24px;
}

footer {
	font-size: 85%;
	color: #9c9c9c;
}

.cas-box a:link,
.cas-box a:active,
.cas-box a:visited,
footer a:link,
footer a:active,
footer a:visited,
header a:link,
header a:active,
header a:visited {
	color: #666;
	text-decoration: none;
}

footer a:hover,
header a:hover {
	color: #f40;
	text-decoration: none;
}

footer .list-security .security-img {
	width: 76px;
	height: 29px;
}