header,
div,
footer {
	overflow: hidden;
}
ul>li>ul,
ul>li>ol,
ol>li>ol,
ol>li>ul {
	margin: 0 0;
}
.am-container {
	width: 1050px !important;
	max-width: none;
	min-width: 1050px !important;
}
.am-accordion-gapped .am-accordion-item {
	padding: 1rem 2.5rem;
}
.am-form-group {
	margin-top: 1rem;
	margin-bottom: 0;
}
.am-form select,
.am-form textarea,
.am-form input[type=text],
.am-form input[type=password],
.am-form input[type=datetime],
.am-form input[type=datetime-local],
.am-form input[type=date],
.am-form input[type=month],
.am-form input[type=time],
.am-form input[type=week],
.am-form input[type=number],
.am-form input[type=email],
.am-form input[type=url],
.am-form input[type=search],
.am-form input[type=tel],
.am-form input[type=color],
.am-form-field {
	padding: .325em;
}
.am-btn {
	padding: .5em 1em;
}
.am-header {
	height: 42px;
	line-height: 42px;
}
label {
	font-size: 12px;
	margin-bottom: 0;
}
ul,
ol {
	list-style: none;
}
.cas-container {
	padding-top: 50px;
}
.cas-header {
	height: 75px;
	border-bottom: 1px solid #e3e3e3;
}
.cas-margin-top-6 {
	margin-top: 6px;
}
.logo {
	overflow: hidden;
	width: 300px;
}
.logo-img {
	background: url("../img/logo-header.png");
	background-repeat: no-repeat;
	background-position: 0px -245px;
	height: 70px;
	width: 200px;
}
.logo span {
	height: 70px;
	line-height: 70px;
	display: block;
	color: #999;
	font-size: 18px;
}
.cas-navigation {
	float: right;
	height: 75px;
	font: normal 12px/75px Verdana, Arial, "宋体", sans-serif;
}
.cas-nav-cright {
	height: 42px;
	width: 80px;
	line-height: 42px;
	float: left;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53;
}
.cas-split {
	margin: 0 6px;
	color: #ccc;
}
.cas-accordion-gapped {
	margin: .5rem 5.25rem;
}
.cas-accordion-header {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-bottom: 1px solid #e3e3e3;
}
.cas-label {
	font-weight: 400;
}
.cas-accordion-footer {
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	border-top: 1px solid #e3e3e3;
}
.cas-icon {
	color: #ccc;
	display: block;
	position: absolute;
	margin: -24px 2px 2px 8px;
	width: 16px;
	height: 16px;
	font-size: 16px;
	text-align: center;
}
.cas-cl-pd {
	padding: 0 0;
	/*padding-right: 5px;*/
}
.cas-btn {
	margin-top: 1rem;
	margin-bottom: .75rem;
}
.cas-footer {
	clear: both;
	font: 12px/18px "微软雅黑", Helvetica, Arial, Verdana, "仿宋";
	color: #666;
	border-top: 1px solid #D8D8D8;
	text-align: center;
	margin-top: 20px;
	padding: 15px 0 32px 0;
	/*background: #EFEFEF;*/
}
.cas-footer img {
	width: 40px;
}
.cas-a a:link {
	color: #666;
	text-decoration: none;
}
.cas-a a:visited {
	color: #666;
	text-decoration: none;
}
.cas-a a:hover {
	color: #666;
	text-decoration: none;
}
.cas-a a:active {
	color: #666;
	text-decoration: none;
}
.cas-icon-user {
	background: url("../img/v1/login/user.png") no-repeat -5px -4px;
	;
}
.cas-icon-lock {
	background: url("../img/v1/login/lock.png") no-repeat -5px -4px;
	;
}
.cas-icon-key {
	background: url("../img/v1/login/key.png") no-repeat -5px -4px;
	;
}
.cas-account-container {
	padding-top: 20px;
	padding-bottom: 10px;
}
.cas-account-container ul,
ol {
	padding: 0 0;
}
.cas-account-container ul a {
	padding-right: 20px;
	float: left;
}
.login-icon {
	background: url("../img/v1/bindaccount/all-account.png");
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}
.qq-icon {
	background-position: 0 0;
}
.qq-icon-mouseon {
	background-position: 0 -24px;
}
.sina-icon {
	background-position: -25px -0px;
}
.sina-icon-mouseon {
	background-position: -25px -24px;
}
.ren-icon {
	background-position: -50px -0px;
}
.ren-icon-mouseon {
	background-position: -50px -24px;
}
.tqq-icon {
	background-position: -75px -0px;
}
.tqq-icon-mouseon {
	background-position: -75px -24px;
}
.wechat-icon {
	background-position: -175px -0px;
}
.wechat-icon-mouseon {
	background-position: -175px -24px;
}
.cas-nav {
	height: 42px;
	line-height: 42px;
	width: 100%;
	background-color: #00a2ca;
}
.cas-nav .cas-nav-list {
	display: block;
	margin-bottom: 0;
	zoom: 1;
	list-style: none;
	float: left;
	padding-left: 0;
}
.cas-nav .cas-nav-list .list-item {
	float: left;
	display: block
}
.cas-nav .cas-nav-list a {
	padding-left: 20px;
	padding-right: 20px;
	float: left;
}
.cas-nav .cas-nav-list a span {
	height: 42px;
	width: 80px;
	line-height: 42px;
	float: left;
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53;
}
.cas-nav .cas-nav-list .active {
	background: #0e90d2
}
.cas-nav .cas-nav-list a:hover {
	background: #0e90d2
}
/* ucenter left */

.cas-ucenter-left {
	font-size: 12px;
	font-family: Arial, Helvetica, STHeiti, "宋体";
	color: #666;
}
.cas-ucenter-left .ucenter-wrap {
	padding: 0 20px;
}
.cas-ucenter-left .ucenter-segment div {
	color: #333;
	background: #f3f3f3;
	height: 38px;
	border-bottom: 1px solid #dedede;
	border-top: 1px solid #dedede;
	font-weight: bold;
	line-height: 38px;
	font-size: 14px;
}
.cas-ucenter-left ul,
ol,
dl {
	list-style: none;
	display: block;
	margin: 0;
	padding: 0;
}
.cas-ucenter-left ul li a {
	position: relative;
	line-height: 50px;
	float: left;
	width: 100%;
	padding-left: 44px;
	border-bottom: 1px dotted #dcdcdc;
	color: #666;
	font-size: 12px;
	display: block;
}
.cas-ucenter-cleft {
	margin: 0;
	width: 240px;
}
.cas-container-changelog {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 15px;
}
.cas-changelog {
	font-weight: bold;
}
.cas-changeinfo {
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;
}
.cas-head-img {
	padding-top: 10px;
}
.cas-account-info {
	position: relative;
	float: right;
	width: 125px;
	padding-top: 25px;
	margin-top: 20px;
	height: 70px;
	overflow: hidden;
}
.cas-container-changelog .question {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: url('../img/v1/ucenter_1.png') no-repeat -103px -72px;
	top: 0;
	right: 97px;
	margin-bottom: -5px;
}
.cas-ucenter-left li a {
	position: relative;
	line-height: 50px;
	float: left;
	width: 204px;
	padding-left: 44px;
	border-bottom: 1px dotted #dcdcdc;
	color: #666;
	font-size: 12px;
	background: url('../img/v1/ucenternav_bg.png') no-repeat;
}
.cas-ucenter-left li.changepwd a {
	background-position: 14px 12px;
}
.cas-ucenter-left li.phone a {
	background-position: 14px -38px;
}
.cas-ucenter-left li.email a {
	background-position: 14px -88px;
}
.cas-ucenter-left li.appeal a {
	background-position: 14px -138px;
}
.cas-ucenter-left li.help a {
	background-position: 14px -188px;
}
.cas-cleft-dl-em {
	position: absolute;
	top: 18px;
	right: 10px;
	color: #2e82ff;
	font-size: 12px;
	line-height: 12px;
	font-style: normal;
}
.cas-ucenter-right {
	width: 750px;
	float: right;
	margin-bottom: 40px;
}
.cas-cright-account-score {
	line-height: 52px;
	position: relative;
}
.cas-cright-title {
	font-size: 22px;
	color: #404040;
	font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53;
	font-weight: normal;
	line-height: 40px;
	padding-top: 20px;
}
.cas-cright-titleinfo {
	font-size: 12px;
	color: #999;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 5px;
}
.cas-cright-account-score .score-step {
	background-position: 0 -138px;
	width: 435px;
	height: 10px;
	margin: 14px 0 0 0;
	display: inline;
}
.score-step,
.score-state-left,
.score-state-right,
.score-btn {
	background: url('../img/v1/ucenter_1.png') no-repeat 0 0;
}
.score-state-left {
	background-position: 0 -180px;
	float: left;
	width: 5px;
	height: 10px;
}
.score-state-right {
	background-position: right -180px;
}
.score-num {
	font-size: 28px;
	font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53;
	margin-left: 10px;
	line-height: 34px;
	color: #fdb13f;
}
.score-btn {
	background-position: 0 -99px;
	width: 111px;
	height: 38px;
	line-height: 38px;
	float: right;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53;
	text-align: center;
	text-shadow: 0 0 2px #f57a16;
}
.score-tip {
	clear: both;
	font-size: 14px;
	font-weight: normal;
	height: 44px;
	line-height: 24px;
	color: #333;
	padding: 10px 0 10px 0;
}
.score-tip b {
	font-weight: bold;
	color: #f4422a;
}
.cas-cright-score-detail,
.cas-cright-account-notice {
	font-size: 12px;
	font-family: Arial, Helvetica, STHeiti, "宋体";
}
.cas-cright-segment {
	padding-bottom: 20px;
	border-bottom: 1px dashed #dfdfdf;
}
.cas-cright-score-detail .score-detail-err {
	background: url('../img/v1/ucenter_1.png') no-repeat -416px 4px;
}
.cas-cright-score-detail .score-detail-warn {
	background: url('../img/v1/ucenter_1.png') no-repeat -416px -37px;
}
.cas-cright-score-detail .score-detail-ok {
	background: url('../img/v1/ucenter_1.png') no-repeat -416px -79px;
}
.cas-cright-score-detail .score-detail-list {
	height: 24px;
	line-height: 24px;
	color: #666;
	padding-left: 24px;
	font-size: 12px;
	margin-bottom: 5px;
	margin-right: 180px;
	clear: both;
}
.score-detail-ul {
	padding-left: 0px;
}
.cas-cright-score-detail .score-detail-list a {
	text-align: center;
	line-height: 30px;
	color: #333;
	display: block;
	width: 82px;
	height: 30px;
	background: url('../img/v1/ucenter_1.png') no-repeat -103px 0;
	float: right;
}
.cas-cright-notice {
	width: 714px;
	margin: 0 auto;
	padding: 15px 0;
	display: block;
}
.notice-detail {
	position: relative;
	height: 130px;
	width: 122px;
}
.notice-detail .notice-level {
	height: 130px;
	width: 122px;
	background: url('../img/v1/ucenter_1.png') no-repeat -227px 12px;
}
.notice-detail .notice-arrow {
	position: absolute;
	display: block;
	height: 14px;
	width: 23px;
	background: url('../img/v1/ucenter_1.png') no-repeat -184px -72px;
	top: 5px;
	right: -12px;
	transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
	cursor: s-resize;
}
.notice-ul {
	/*width: 560px;*/
	
	width: 580px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}
.notice-list {
	cursor: pointer;
	padding-bottom: 14px;
	_padding-bottom: 18px;
	padding-left: 25px;
	background: url(../img/v1/ucenter_1.png) no-repeat 5px 7px;
	transition: .1s;
	-moz-transition: .1s;
	-o-transition: .1s;
	-webkit-transition: .1s;
	display: flex;
}
.notice-list .notice-list-span {
	display: block;
	float: left;
	line-height: 32px;
	margin-right: 5px;
	color: #666;
}
.notice-list .notice-list-b {
	display: block;
	float: left;
	font-size: 24px;
	font-family: \5fae\8f6f\96c5\9ed1, \9ed1\4f53;
	font-weight: normal;
	color: #666;
}
.notice-list .notice-list-tip {
	float: right;
	display: block;
	margin-right: 70px;
	_margin-right: 35px;
	width: 240px;
	padding-top: 7px;
	padding-left: 20px;
	background: url(../img/v1/noticelisttip_bg.png) no-repeat;
	color: #666;
}
.level-select {
	background: url(../img/v1/radio_select.png) no-repeat 5px 7px;
}
.level-normal {
	background: url(../img/v1/radio_normal.png) no-repeat 5px 7px;
}
.cas-cright-loginhistory {} #login-histroy-data tr,
#changelog-data tr {
	width: 700px;
	height: 30px;
	text-align: center;
	font-size: 12px;
}
#changelog-data table {
	border-collapse: collapse;
	border-spacing: 0;
}
.login-histroy-title {
	background: #f3f3f3;
}
.login-histroy-title th,
.changelog-title th {
	text-align: center;
	border-top: 1px solid #dfdfdf;
}
.login-histroy-title th {
	color: #666;
}
#login-histroy-data tr,
#changelog-data tr {
	width: 700px;
	height: 30px;
	text-align: center;
	font-size: 12px;
}
#login-histroy-data td,
#changelog-data td {
	border-bottom: 1px dotted #dcdcdc;
}
#login-histroy-data .login-histroy-more td {
	border-top: 1px solid #dfdfdf;
	text-align: right;
	border-bottom: 0;
	padding-right: 10px;
	border-bottom: 0;
}
#login-histroy-data tr,
#changelog-data tr {
	width: 700px;
	height: 30px;
	text-align: center;
	font-size: 12px;
}
.cas-secure {
	margin-left: 76px;
	color: #333;
	min-height: 450px;
	display: block;
	font-size: 12px;
	font-family: Arial, Helvetica, STHeiti, "宋体";
}
.cas-secure ul,
ol {
	list-style: none;
	display: inline-block;
}
.cas-secure .binditem {
	position: relative;
	margin-top: 30px;
	display: flex;
}
.mod-bind .binditem .bind-content-detial {
	padding-top: 10px;
}
.mod-bind .binditem .bind-icon {
	float: left;
	width: 73px;
	height: 73px;
}
.mod-bind .phone-bind .binded {
	background: url(../img/v1/sprite_sec_question.png) no-repeat -96px -6px;
}
.mod-bind .email-bind .binded {
	background: url(../img/v1/sprite_sec_question.png) no-repeat -96px -104px;
}
.mod-bind .set-question .binded {
	background: url(../img/v1/sprite_sec_question.png) no-repeat -96px -202px;
}
.mod-bind .protect-open .binded {
	background: url(../img/v1/sprite_sec_question.png) no-repeat -96px -398px;
}
.mod-bind .phone-bind .unbind {
	background: url(../img/v1/sprite_sec_question.png) no-repeat -5px -6px;
}
.mod-bind .email-bind .unbind {
	background: url(../img/v1/sprite_sec_question.png) no-repeat -5px -104px;
}
.mod-bind .set-question .unbind {
	background: url(../img/v1/sprite_sec_question.png) no-repeat -5px -202px;
}
.mod-bind .protect-open .unopen {
	background: url(../img/v1/sprite_sec_question.png) no-repeat -5px -398px;
}
.mod-bind .binditem .re {
	position: absolute;
	display: block;
	height: 28px;
	width: 28px;
	top: 0;
	left: 54px;
	background: url(../img/v1/bitch.png) no-repeat 0 0;
}
.mod-bind .binditem .bind-content {
	float: left;
	padding-top: 15px;
	padding-left: 20px;
}
.mod-bind .binditem .bind-content-detial {
	padding-top: 10px;
}
.mod-bind .binditem .bind-content .bind-title {
	font-size: 14px;
}
.mod-bind .binditem .bind-content .bind-title-detail-msg {
	font-size: 18px;
	color: #f90;
	font-weight: bold;
	font-family: "宋体", Arial, Helvetica, STHeiti;
}
.mod-bind .binditem .bind-content .bind-tips-detial {
	padding-top: 8px;
}
.mod-bind .binditem .bind-content .bind-tips {
	font-size: 12px;
	padding-top: 8px;
	color: #666;
}
.mod-bind .binditem .bind-content p {
	margin: 0 0;
}
.mod-bind .binditem .bind-content .bind-title .bind-link {
	margin-left: 10px;
	font-size: 12px;
}
.mod-changepwd {
	font-size: 12px;
	font-family: Arial, Helvetica, STHeiti, "宋体";
}
.mod-changepwd p {
	margin-bottom: 0;
}
.mod-changepwd .mod-changepwd-title {
	margin-top: 30px;
	margin-bottom: 0;
	padding-left: 75px;
	font-size: 14px;
}
.mod-changepwd .mod-changepwd-choice {
	padding-left: 140px;
	margin-top: 30px;
}
.mod-changepwd .mod-changepwd-choice .change-choice {
	float: left;
	display: block;
}
.mod-changepwd .mod-changepwd-choice .normal-change {
	margin-right: 120px;
}
.mod-changepwd .mod-changepwd-choice a.normal-change .change-choice-img {
	background-position: -372px -80px;
}
.mod-changepwd .mod-changepwd-choice a.sms-change .change-choice-img {
	background-position: -88px -80px;
}
.mod-changepwd .mod-changepwd-choice .change-choice-img {
	display: block;
	height: 80px;
	text-align: center;
	width: 90px;
	background: url(../img/v1/sprite_email_phone_icon.png) no-repeat;
}
.mod-changepwd .mod-changepwd-choice .change-choice-msg {
	display: block;
	text-align: center;
	padding-top: 20px;
	height: auto;
	width: 90px;
}
.mod-changepwd .mod-changepwd-footer {
	margin-top: 70px;
	margin-bottom: 100px;
	padding-top: 0;
	border-top: 1px dotted #dfdfdf;
	padding-left: 75px;
}
.mod-changepwd .mod-changepwd-footer .footer-title {
	height: 45px;
	line-height: 45px;
	font-size: 14px;
}
.mod-changepwd .mod-changepwd-footer .footer-title {
	margin-bottom: 0px;
}
.mod-changepwd .mod-changepwd-footer .footer-ul {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}
.page-security-associate {
	padding: 30px 0;
	margin-left: 78px;
	height: 450px;
	font-size: 12px;
	font-family: Arial, Helvetica, STHeiti, "宋体";
}
.page-security-associate .associate-acc-title {
	height: 40px;
	line-height: 40px;
	background: #eaf4fe;
	padding: 0 20px;
	color: #277dd4;
}
.associate-acc-list {
	margin-top: 30px;
	padding: 20px 20px 0 20px;
	overflow: hidden;
}
.associate-acc-list .list-item {
	float: left;
	_display: inline;
	width: 215px;
	margin-bottom: 20px;
}
.acc-left {
	width: 62px;
	text-align: center;
}
.acc-left,
.acc-center,
.acc-right {
	float: left;
}
.avatar-ctn {
	width: 56px;
	height: 56px;
	overflow: hidden;
}
.acc-right-cw {
	float: left;
	width: 120px;
	margin-top: 5px;
	word-wrap: break-word;
	word-break: break-all;
}
.page-security-associate .acc-right .icon,
.page-security-associate .acc-right .name {
	color: #333;
	display: block;
	position: relative;
}
.acc-bind-link,
.acc-unbind-link {
	display: inline-block;
	margin-top: 10px;
}
.cas-pass-reg .pass-label {
	display: block;
	height: 32px;
	margin-right: 10px;
	line-height: 32px;
	width: 65px;
	font-size: 14px;
	color: #666;
	font-weight: bold;
	text-align: right;
}
.cas-pass-reg .pass-text-input {
	display: block;
	position: relative;
	height: 32px;
	transition: .3s;
	-moz-transition: .3s;
	-o-transition: .3s;
	-webkit-transition: .3s;
}
.cas-pwd-container {
	margin-left: 70px;
	width: 926px !important;
	min-height: 300px;
	height: 300px;
	height: auto;
	font-size: 12px;
	font-family: Arial, Helvetica, STHeiti, "宋体";
}
.mod-sub-nav {
	height: 34px;
	background: url(../img/v1/pwd/mod_sub_nav.png) no-repeat 0 0;
	margin: 30px 0 20px;
	line-height: 34px;
	color: #666;
	font-size: 16px;
	font-family: "Microsoft Yahei", \5fae\8f6f\96c5\9ed1, \9ed1\4f53;
	padding-left: 0px;
}
.mod-sub-nav li.list1-active {
	background: url(../img/v1/pwd/sub_nav_1.png) no-repeat 0 0;
	color: #2e82ff;
}
.mod-sub-nav li.list2-active {
	background: url(../img/v1/pwd/sub_nav_2.png) no-repeat 0 0;
	color: #2e82ff;
	margin-left: -12px;
	padding-left: 78px;
}
.mod-sub-nav li.list3-active {
	background: url(../img/v1/pwd/sub_nav_3.png) no-repeat 0 0;
	color: #2e82ff;
	margin-left: -24px;
	padding-left: 78px;
}
.mod-sub-nav li {
	float: left;
	padding-left: 66px;
}
.mod-sub-list1 {
	width: 241px;
}
.mod-sub-list2 {
	width: 241px;
}
.mod-sub-list3 {
	width: 241px;
}
.mod-step-detail .step-email-info {
	font-size: 14px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #000;
}
.step-form-info {
	font-size: 14px;
}
.mod-step-detail .pass-input-container {
	margin-bottom: 15px;
}
.pass-input-error {
	border: 1px solid #da1111;
}
.cas-input-container {
	float: left;
	position: relative;
	width: 320px;
}
.cas-veritycode-container {
	float: left;
	position: relative;
	width: 120px;
}
.mod-step-detail .step-form-tip {
	color: #999;
	font-size: 12px;
	margin-bottom: 10px;
}
.step-tip {
	border-top: 1px dotted #e5e5e5;
	margin: 30px 0 10px;
	width: 910px;
	font-size: 12px;
	font-family: Arial, Helvetica, STHeiti, "宋体";
}
.m_l75 {
	margin-left: 75px;
}
.forgot-auth-title {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
}
.line-32 {
	line-height: 32px;
	height: 32px;
}
.form-2-content {
	font-size: 14px;
	position: relative;
	float: left;
}
.sent-code-button {
	height: 29px;
	width: 107px;
	color: #333;
	cursor: pointer;
	border: 0;
	line-height: 29px;
	text-align: center;
	background: url(../img/v1/pwd/button_icon.png) no-repeat 0 -138px;
	float: left;
	margin: 1px 0 0 10px;
}
.auth-account-nav {
	display: block;
	overflow: hidden;
	margin-bottom: 0px;
	margin-top: 60px;
}
.auth-account-nav li {
	overflow: hidden;
	height: 120px;
	width: 100px;
}
.auth-account-nav li a {
	float: left;
	width: 100px;
	color: #000;
	height: 120px;
	padding-top: 20px;
	cursor: pointer;
	border: 1px solid #e5e5e5;
	background-color: #f9f9f9;
	text-align: center;
	background-position: 50% 54px;
	background-repeat: no-repeat;
}
.auth-account-nav li a:hover {
	border: 1px solid #e0e0e0;
	background-color: #cecece
}
.auth-account-nav li a.auth-email {
	background-image: url(../img/v1/pwd/email.png);
}
.auth-account-nav li a.auth-email:hover {
	background-image: url(../img/v1/pwd/email_hover.png);
}
.auth-account-nav li a.auth-mobile {
	background-image: url(../img/v1/pwd/mobile.png);
}
.auth-account-nav li a.auth-mobile:hover {
	background-image: url(../img/v1/pwd/mobile_hover.png);
}