/**
* The QiKeMi Group Base Style For Wechat Plaform. 
*
* @author      Xie Xianbin <a.b@hotmai.com>
* @package     qikemi
* @link        http://www.qikemi.com 
 */

/** nav bar **/

.navbar-inverse {
	border-color: #008eb7!important;
	/*#6d4580*/
	background-color: #00a2ca;
	/* #8957a1*/
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #008eb7!important;
}
.navbar-inverse .navbar-nav>li>a {
	color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
	color: #FFF;
	background-color: #008eb7!important;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
	color: #fff;
	background-color: #008eb7!important;
}
.navbar-inverse .navbar-right .dropdown .dropdown-menu>li>a:hover,
.navbar-inverse .navbar-right .dropdown .dropdown-menu>li>a:focus {
	color: #fff;
	background-color: #008eb7!important;
}
.nav>li>a:hover,
.nav>li>a:focus {
	color: #fff;
	text-decoration: none;
	background-color: #f1f1f1;
}
.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
	border-color: #008eb7!important;
	background-color: #00a2ca;
}
.nav .caret {
	border-top-color: #00a2ca;
	border-bottom-color: #008eb7!important
}
.nav .caret {
	border-top-color: #00a2ca;
	border-bottom-color: #008eb7!important
}
.nav-primary>li.active>a,
.nav-primary>li.active>a:hover,
.nav-primary>li.active>a:focus {
	color: #fff;
	border-color: #008eb7!important;
	background-color: #00a2ca;
}
/** Element **/

.btn-primary {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
	border-color: #008eb7!important;
	background-color: #00a2ca;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #FFF;
	border-color: #00a2ca;
	background-color: #008eb7!important;
	box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
}
a {
	color: #145ccd;
	text-decoration: none;
	-webkit-transition: all .5s cubic-bezier(0.175, .885, .32, 1);
	transition: all .5s cubic-bezier(0.175, .885, .32, 1)
}
.form-control:focus {
	border-color: #145ccd;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(20, 92, 205, .6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(20, 92, 205, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(20, 92, 205, .6)
}
/** table css **/

table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .headerSortUp {
	color: #00a2ca;
}
table.tablesorter thead tr .headerSortDown a,
table.tablesorter thead tr .headerSortUp a {
	color: #00a2ca
}
table.tablesorter thead tr .headerSortUp:after {
	color: #00a2ca;
}
table.tablesorter thead tr .headerSortDown:after {
	color: #00a2ca;
}
/** 左侧导航 **/